.mainNav {
  width: 100%;
  background-color: var(--white);
  padding: 0.6rem 1.5rem;
}

.mainNav-logo {
  width: 35px;
  height: 35px;
  margin-right: 10px;
}

.mainNav-logoLabel {
  font-size: 1.5rem;
  font-weight: 700;
  text-decoration: none;
}

.mainNav-explore-logo {
  display: flex;
  gap: 0.4rem;
}

.mainNav-actions {
  display: flex;
  gap: 2.5rem;
  align-items: center;
}
