:root {
  --white: #fff;
  --black: #363b43;
  --primary: #f3912e;
  --primary-hover: #fce4cb;
  --secondary: #f2f5fa;
  --gray: #808191;
  --light-gray: #bbbbbb;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--black);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.row {
  display: flex;
  flex-direction: row;
}
